/*
 * WhatsAppCloudAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.facebook.graph.controllers;

import com.facebook.graph.ApiHelper;
import com.facebook.graph.AuthManager;
import com.facebook.graph.Configuration;
import com.facebook.graph.exceptions.ApiException;
import com.facebook.graph.http.Headers;
import com.facebook.graph.http.client.HttpClient;
import com.facebook.graph.http.client.HttpContext;
import com.facebook.graph.http.request.HttpRequest;
import com.facebook.graph.http.response.HttpResponse;
import com.facebook.graph.http.response.HttpStringResponse;
import com.facebook.graph.models.GetBusinessProfileIDResponse;
import com.facebook.graph.models.SuccessResponse;
import com.facebook.graph.models.UpdateBusinessProfileRequest;
import com.fasterxml.jackson.core.JsonProcessingException;
import java.io.IOException;
import java.util.AbstractMap.SimpleEntry;
import java.util.HashMap;
import java.util.Map;
import java.util.concurrent.CompletableFuture;

/**
 * This class lists all the endpoints of the groups.
 */
public final class BusinessProfilesController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public BusinessProfilesController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }


    /**
     * Use this endpoint to retrieve your business’ profile. This business profile is visible to
     * consumers in the chat thread next to the profile photo. The profile information will contain
     * a business profile ID which you can use to make API calls.
     * @param  phoneNumberID  Required parameter: Example:
     * @param  fields  Optional parameter: Here you can specify what you want to know from your
     *         business as a comma separated list of fields. Available fields include: id, about,
     *         messaging_product, address, description, vertical, email, websites,
     *         profile_picture_url
     * @return    Returns the GetBusinessProfileIDResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public GetBusinessProfileIDResponse getBusinessProfileID(
            final String phoneNumberID,
            final String fields) throws ApiException, IOException {
        HttpRequest request = buildGetBusinessProfileIDRequest(phoneNumberID, fields);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleGetBusinessProfileIDResponse(context);
    }

    /**
     * Use this endpoint to retrieve your business’ profile. This business profile is visible to
     * consumers in the chat thread next to the profile photo. The profile information will contain
     * a business profile ID which you can use to make API calls.
     * @param  phoneNumberID  Required parameter: Example:
     * @param  fields  Optional parameter: Here you can specify what you want to know from your
     *         business as a comma separated list of fields. Available fields include: id, about,
     *         messaging_product, address, description, vertical, email, websites,
     *         profile_picture_url
     * @return    Returns the GetBusinessProfileIDResponse response from the API call
     */
    public CompletableFuture<GetBusinessProfileIDResponse> getBusinessProfileIDAsync(
            final String phoneNumberID,
            final String fields) {
        return makeHttpCallAsync(() -> buildGetBusinessProfileIDRequest(phoneNumberID, fields),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleGetBusinessProfileIDResponse(context));
    }

    /**
     * Builds the HttpRequest object for getBusinessProfileID.
     */
    private HttpRequest buildGetBusinessProfileIDRequest(
            final String phoneNumberID,
            final String fields) {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/{Phone-Number-ID}/whatsapp_business_profile");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("Phone-Number-ID",
                new SimpleEntry<Object, Boolean>(phoneNumberID, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all query parameters
        Map<String, Object> queryParameters = new HashMap<>();
        queryParameters.put("fields", fields);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, queryParameters,
                null);

        return request;
    }

    /**
     * Processes the response for getBusinessProfileID.
     * @return An object of type GetBusinessProfileIDResponse
     */
    private GetBusinessProfileIDResponse handleGetBusinessProfileIDResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        GetBusinessProfileIDResponse result = ApiHelper.deserialize(responseBody,
                GetBusinessProfileIDResponse.class);

        return result;
    }

    /**
     * Use this endpoint to update your business’ profile information such as the business
     * description, email or address.
     * @param  phoneNumberID  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the SuccessResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public SuccessResponse updateBusinessProfile(
            final String phoneNumberID,
            final UpdateBusinessProfileRequest body) throws ApiException, IOException {
        HttpRequest request = buildUpdateBusinessProfileRequest(phoneNumberID, body);
        authManagers.get("global").apply(request);

        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleUpdateBusinessProfileResponse(context);
    }

    /**
     * Use this endpoint to update your business’ profile information such as the business
     * description, email or address.
     * @param  phoneNumberID  Required parameter: Example:
     * @param  body  Required parameter: Example:
     * @return    Returns the SuccessResponse response from the API call
     */
    public CompletableFuture<SuccessResponse> updateBusinessProfileAsync(
            final String phoneNumberID,
            final UpdateBusinessProfileRequest body) {
        return makeHttpCallAsync(() -> buildUpdateBusinessProfileRequest(phoneNumberID, body),
            req -> authManagers.get("global").applyAsync(req)
                .thenCompose(request -> getClientInstance()
                        .executeAsync(request, false)),
            context -> handleUpdateBusinessProfileResponse(context));
    }

    /**
     * Builds the HttpRequest object for updateBusinessProfile.
     */
    private HttpRequest buildUpdateBusinessProfileRequest(
            final String phoneNumberID,
            final UpdateBusinessProfileRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/{Phone-Number-ID}/whatsapp_business_profile");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("Phone-Number-ID",
                new SimpleEntry<Object, Boolean>(phoneNumberID, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        return request;
    }

    /**
     * Processes the response for updateBusinessProfile.
     * @return An object of type SuccessResponse
     */
    private SuccessResponse handleUpdateBusinessProfileResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        SuccessResponse result = ApiHelper.deserialize(responseBody,
                SuccessResponse.class);

        return result;
    }

}